.cardsContainer {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.emptyCart {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
	font-size: 1.2em;
}

.cartHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.cartResumeContent {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.cartResumeTotal {
	display: grid;
	grid-template-columns: 56px 1fr;
}

.cartResumeTotalText {
	padding-top: 4px;
	font-size: 1.1rem;
	font-weight: 600;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	max-width: 700px;
}

.actions {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 20px;
}

.cartReviewListContainer {
	margin: 10px auto 0;
	padding-left: 20px;
	max-width: 480px;
	max-height: 380px;
	overflow-y: auto;
	margin-top: 10px;
}

.cartReviewList {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 36px;
	row-gap: 10px;
	padding: 10px 0;
}

.cartReviewList li {
	display: grid;
	grid-template-columns: 36px 1fr 36px;
	grid-template-areas: 'img title-price delete-btn';
	align-items: center;
	column-gap: 10px;
	overflow: hidden;
}

.cartReviewListTitlePrice {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-right: 10px;
}

.cartReviewListDeleteBtn svg {
	color: var(--gray);
}

.cartReviewTotalPrice {
	max-width: 480px;
	margin: 0 auto;
	display: flex;
	border-top: 1px solid #22222215;
	padding: 10px 56px 0 66px;
	justify-content: space-between;
	font-weight: 600;
	font-size: 18px;
}