.logo {
    font-size: 1.5em;
    font-family: var(--logo-font);
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
    font-style: normal;
    user-select: none;
    display: flex;
    align-items: flex-start;
    column-gap: 2px;
}