.header {
    height: 50px;
    background-color: var(--cerise);
    color: var(--white);
    border-radius: 0px 0px 4px 4px;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
}

.headerContainer {
    height: 50px;
    padding: 0 20px;
    margin: auto;
    width: 100vw;
    max-width: var(--screen-width-fluid);
    display: grid;
    grid-template-areas: "logo cart";
    justify-content: space-between;
    align-items: center;
}

.leftWrapper {
    grid-area: logo;
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.rightWrapper {
    grid-area: cart;
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
}


.icon {
    font-size: 1.4em;
    color: var(--white);
    display: flex;
}

.linkBtn {
    display: flex;
    align-items: center;
    column-gap: 4px;
    transition: 0.2s;
    padding: 5px 10px;
    border-radius: 8px;
}

.btnText {
    max-width: 0;
    overflow: hidden;
    display: inline-block;
}

.linkBtn:hover {
    background-color: var(--platinum);
    color: #222;
}

.linkBtn:hover .btnText {
    animation: expandRight 1.6s forwards;
    max-width: 1000px;
}

.linkBtn:hover .icon {
    color: #222;
}

@keyframes expandRight {
	from {
		max-width: 0;
		display: none;
	}
	to {
		max-width: 1000px;
	}
}