.header {
    height: 50px;
    background-color: var(--cerise);
    color: var(--white);
    border-radius: 0px 0px 4px 4px;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
}

.headerContainer {
    height: 50px;
    padding: 0 20px;
    margin: auto;
    width: 100vw;
    max-width: var(--screen-width-fluid);
    display: grid;
    grid-template-areas: "logo cart";
    justify-content: space-between;
    align-items: center;
}

.logoWrapper {
    grid-area: logo;
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.cartWrapper {
    grid-area: cart;
    text-decoration: none;
}


.icon {
    font-size: 1.4em;
    color: var(--white);
    display: flex;
}