@import url("../../../assets/styles/animations.css");

.header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-bottom: 20px;
}

.header .title {
    font-family: var(--logo-font);
}

.header .headerFilterArea {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.listStyleGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	grid-gap: 16px;
	columns: auto;
	animation: easeInLeft 0.2s forwards;
}

.listStyleList {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 180px;
	flex-direction: column;
	row-gap: 16px;
	animation: easeInLeft 0.2s forwards;
}

.item {
	list-style: none;
	background-color: var(--white);
	border-radius: 8px;
	box-shadow: 2px 2px 2px #00000015;
	transition: 0.1s;
	cursor: pointer;
	animation: easeInLeft 0.2s forwards;
}

.listStyleGrid .item {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}

.listStyleList .item {
	display: grid;
	grid-template-columns: 180px 1fr;
	column-gap: 16px;
}

.item:hover {
	box-shadow: 2px 4px 9px #00000025;
	transition: box-shadow 0.2s;
}

.imgWrapper {
	width: 100%;
	aspect-ratio: 1 / 1;
}

.infoWrapper {
	padding: 10px 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.listStyleGrid .infoWrapper {
	row-gap: 20px;
}

.infoWrapper .title {
	text-wrap: nowrap;
}

.infoWrapper .description {
	font-size: 14px;
	color: var(--gray);
}

.listStyleGrid .description {
	display: none;
}

.addIconWrapper {
	display: flex;
	align-items: center;
}

.addIcon {
	border-radius: 50%;
	border: 3px solid #ddd;
	color: #ccc;
	padding: 1px;
	font-size: 2rem;
	cursor: pointer;
	transition: 0.2s;
}

.addIcon:hover {
	color: var(--white);
	background-color: var(--cerise);
	border-color: var(--cerise);
}

.addBtn {
	margin-top: auto;
}

.listStyleList .addBtn {
	margin-left: auto;
	max-width: 240px;
}