@import url("../../../assets/styles/animations.css");


/* ===== HEADER ===== */
.header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-bottom: 20px;
}

.header .headerFilterArea {
	display: flex;
	align-items: center;
}


/* ===== GRID - LIST ===== */
.item {
	list-style: none;
	background-color: var(--white);
	border-radius: 8px;
	box-shadow: 2px 2px 2px #00000015;
	transition: 0.1s;
	cursor: pointer;
	animation: easeInLeft 0.2s forwards;
}

.item:hover {
	box-shadow: 2px 4px 9px #00000025;
	transition: box-shadow 0.2s;
}

.imgWrapper {
	width: 100%;
	aspect-ratio: 1 / 1;
}

.infoWrapper {
	padding: 10px 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.infoWrapper .description {
	font-size: 14px;
	color: var(--gray);
	max-width: 720px;
}

.addIconWrapper {
	display: flex;
	align-items: center;
}

.addIcon {
	border-radius: 50%;
	border: 3px solid #ddd;
	color: #ccc;
	padding: 1px;
	font-size: 2rem;
	cursor: pointer;
	transition: 0.2s;
}

.addIcon:hover {
	color: var(--white);
	background-color: var(--cerise);
	border-color: var(--cerise);
}

.addBtn {
	margin-top: auto;
	background: var(--platinum);
	color: var(--gray);
}

.addBtn:hover {
	background: var(--cerise);
	color: var(--white);
}

.btnIcon {
	display: flex;
}


/* ===== GRID ===== */
.listStyleGrid {
	display: grid;
	grid-template-columns: repeat(6, minmax(0, 1fr));;
	grid-gap: 16px;
	columns: auto;
	animation: easeInLeft 0.2s forwards;
}

.listStyleGrid .item {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}

.listStyleGrid .infoWrapper {
	row-gap: 20px;
}

.listStyleGrid .description {
	display: none;
}

.listStyleGrid .addBtn {
	height: 36px;
}

.listStyleGrid .addBtn .btnText {
	display: none;
}

.listStyleGrid .iconPlus {
	display: none;
}


/* ===== LIST ===== */
.listStyleList {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 180px;
	flex-direction: column;
	row-gap: 16px;
	animation: easeInLeft 0.2s forwards;
}

.listStyleList .item {
	display: grid;
	grid-template-columns: 180px 1fr;
	column-gap: 16px;
}

.listStyleList .addBtn {
	margin-left: auto;
	max-width: 180px;
}

.listStyleList .iconCartPlus {
	display: none;
}


@media screen and (max-width: 960px) {
	.infoWrapper .description {
		font-size: 12px;
	}

	.listStyleGrid {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}


@media screen and (max-width: 690px) {
	.listStyleGrid {
		grid-template-columns: repeat(3, minmax(0, 1fr));;
	}

	.listStyleList .infoWrapper .description {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}


@media screen and (max-width: 480px) {
	.listStyleList .infoWrapper .description {
		display: none;
	}

	.listStyleGrid {
		grid-template-columns: repeat(2, 1fr);
	}


	.listStyleList {
		grid-auto-rows: 90px;
	}

	.listStyleList .item {
		grid-template-columns: 90px 1fr;
	}

	.listStyleList .infoWrapper {
		display: flex;
		flex-direction: row;
	}

	.listStyleList .iconPlus {
		display: none;
	}

	.listStyleList .iconCartPlus {
		display: flex;
	}

	.listStyleList .btnText {
		display: none;
	}

	.listStyleList .addBtn {
		margin-top: auto;
		margin-bottom: auto;
		max-width: 48px;
		aspect-ratio: 1 / 1;
	}
}