@keyframes easeInLeft {
	from {
		transform: translateX(-30px);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes easeInRight {
	from {
		transform: translateX(30px);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes easeInUp {
	from {
		transform: translateY(30px);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes easeInDown {
	from {
		transform: translateY(-30px);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes easeOutLeft {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		transform: translateX(-30px);
		opacity: 0;
	}
}

@keyframes easeOutRight {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		transform: translateX(30px);
		opacity: 0;
	}
}

@keyframes easeOutUp {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		transform: translateY(-30px);
		opacity: 0;
	}
}

@keyframes easeOutDown {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		transform: translateY(30px);
		opacity: 0;
	}
}

@keyframes collapseUp {
	from {
		height: max-content;
	}
	to {
		height: 0;
	}
}

@keyframes expandDown {
	from {
		height: 0;
	}
	to {
		height: max-content;
	}
}