:root {
	--cerise: #D93C6B;
	--platinum: #E9E0E7;
	--white: #FFFFFF;
	--gray: #6C6C6C;

	--font-family: 'Source Sans 3', sans-serif;
	--logo-font: 'Lobster', sans-serif;

	--screen-width: 1280px;
	--screen-width-fluid: calc(var(--screen-width) + 20px);
}